{# D:\django-job-portal-master\templates\lang_selector.html #}
{% load i18n %}

<li class="nav-item dropdown">
    <a id="clientZone" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
       class="nav-link dropdown-toggle">
        <i class="fa fa-globe"></i> {% trans 'Language' %}
    </a>

    <form action="{% url 'set_language' %}" method="post" id="change-language-form">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
    </form>

    <div aria-labelledby="clientZone" class="dropdown-menu">
        {% for lang_code, lang_name in languages %}
            {% language lang_code %}
                {# CRITICAL FIX: Changed "jobs:home" to "jobsapp:home" #}
                <a href="{% url "jobsapp:home" %}" data-lang-code="{{ lang_code }}" class="dropdown-item">{{ lang_name }}</a>
            {% endlanguage %}
        {% endfor %}
    </div>
</li>
