    {# D:\django-job-portal-master\templates\jobs\details.html #}

    {% extends 'base.html' %}
    {% load static %}
    {% load is_already_applied %}
    {% load humanize %}
    {% block title %}
        Job details
    {% endblock %}

    {% block content %}

        <section class="bg-light-gray">
            <div class="container">
                <h1 class="heading">{{ job.title }}<br>
                    <small>at 
                        {% if job.company %}
                            <a href="{% url 'jobs:company_detail' pk=job.company.id %}"> {{ job.company.name }}</a>
                        {% else %}
                            Unknown Company
                        {% endif %}
                    </small>
                </h1>
                <div class="job-detail-description"><i class="fa fa-map-marker job__location"> </i>
                    {{ job.location }} | Posted {{ job.created_at|timesince }} ({{ job.created_at }}) |
                    {% if job.type == '1' %}
                        <span class="badge featured-badge badge-success">Full time</span>
                    {% elif job.type == '2' %}
                        <span class="badge featured-badge badge-primary">Part time</span>
                    {% else %}
                        <span style="color: #ffffff;" class="badge featured-badge badge-warning">Internship</span>
                    {% endif %}
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Category: {{ job.category.name|default:"N/A" }}</h3> {# Access name property of category #}
                        <h5>Last date: {{ job.last_date|date }}</h5>
                        <h5 style="color: blueviolet;">Vacancy: {{ job.vacancy }}</h5>
                        <h5 class="text-info">
                            Salary: {% if job.salary > 0 %} {{ job.salary | intcomma }}/Monthly {% else %}
                            Negotiable {% endif %}
                        </h5>
                        Tags:
                        {% for tag in job.tags.all %}
                            <span style="color: #ffffff;" class="badge featured-badge badge-secondary">{{ tag.name }}</span>
                        {% endfor %}
                        <blockquote class="blockquote">
                            <p>{{ job.description | safe }}</p>
                        </blockquote>
                        <div class="job-detail__apply-bottom">
                            {% if request.user.is_authenticated and request.user.role == 'employee' %}
                                {% is_already_applied job request.user as is_applied %}
                                {% if is_applied %}
                                    <input type="button" class="btn btn-outline-white-primary" value="Already applied"/>
                                {% else %}
                                    <form action="{% url 'jobs:apply-job' job.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="job" value="{{ job.id }}">
                                        <input type="submit" class="btn btn-outline-white-primary"
                                               value="Apply for this job"/>
                                    </form>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-3">
                        {% if job.company %}
                            <h4>About {{ job.company.name }}</h4>
                            <p class="job-detail__company-description">{{ job.company.description | default:"No description provided." | safe }}</p>
                            <p class="job-detail__social social social--outline">
                                {% if job.company.website %}
                                    <a href="{{ job.company.website }}" data-toggle="tooltip" data-placement="top" title="Website"
                                    class="link">
                                        <i class="fa fa-link"></i>
                                    </a>
                                {% endif %}
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter" class="twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook" class="facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </p>
                            {% if request.user.is_authenticated and request.user.role == 'employee' %}
                                <p>
                                    <a href="{% url 'jobs:add_review' company_id=job.company.id %}" class="btn btn-info mt-3">Add a Review</a>
                                </p>
                            {% endif %}

                            {% if reviews %}
                                <h5>Company Reviews:</h5>
                                {% for review in reviews %}
                                    <div class="card p-2 mb-2">
                                        <strong>{{ review.user.get_full_name|default:review.user.email }}</strong> - Rating: {{ review.rating }}/5
                                        <p>{{ review.comment }}</p>
                                        <small class="text-muted">{{ review.created_at|date:"M d, Y" }}</small>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>No reviews yet.</p>
                            {% endif %}

                        {% else %}
                            <h4>Company information not available.</h4>
                        {% endif %}

                        {% if request.user.is_authenticated and request.user.role == 'employee' %}
                            <div class="job-detail__apply-top">
                                {% if is_applied %}
                                    <input type="button" class="btn btn-outline-white-primary" value="Already applied"/>
                                {% else %}
                                    <form action="{% url 'jobs:apply-job' job.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="job" value="{{ job.id }}">
                                        <input type="submit" class="btn btn-outline-white-primary"
                                               value="Apply for this job"/>
                                    </form>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}
    